#clear {
    background-color: #fff;
    color: #545454;
    font-size: 21px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    border: 1px solid #921029;
    width: 100%;
    height: 20%;
  }